$padding: 40px;
$red: rgb(192, 49, 49);

.prod {
    text-align: center;
    margin: 20px auto;
    float: none; 
    margin-bottom: 10px;
    padding: $padding/2;
    color: $red;
    background-color: white;
    border-color: $red;
    border-width: 7px;
}

.prod__card {
    background-color: white;
    justify-content: right;
    p {
        text-align: center;
        color: white;
    }
    a {

        background-color: $red;
        color: white;
        border: white;
        text-transform: uppercase;
    }
    a:hover {
        background-color: $red;
    }
}

.prod2 {
    text-align: center;
    margin: 20px auto;
    float: none; 
    margin-bottom: 10px;
    padding: $padding/2;
    color: $red;
    background-color: white;
    border-color: $red;
    border-width: 7px;
    width: 50%;
    img{
        width: 100%;
    }
}

.prod2__card {
    background-color: white;
    justify-content: center;
    p {
        text-align: center;
        color: black;
    }
    a {
        background-color: $red;
        color: white;
        border-color: $red;
    }
    a:hover {
        background-color: $red;
        border-color: black;
    }
}
.card-body p{
    color: black;
}