$red: rgb(192, 49, 49);

.footer {
    background-color: $red;
}

#subscribe-blog h6{
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.suscrip h6 {
    color: white;
    font-size: 20px;
}

#subscribe-field {
    font-size: 14px;
}

.btsusc {
    background-color: grey;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    padding: 5px;
}

.fab {
    color: white;
    font-size: 20px;
}

.productos {
    color: white;
    margin-top: 20px;
    h6 {
        font-size: 20px;
    }
    p a {
        background-color: $red;
        font-size: 18px;
        text-decoration: none;
    }
}

.contacto {
    color: white;
    margin-top: 20px;
    h6 {
        font-size: 20px;
    }
    p a{
        font-size: 18px;
    }
}

.copyr {
    color: white;
    font-size: 16px;
    a {
        color: white;
        font-size: 16px;
        background-color: $red;
    }
}