/*ESTILO DE PARRAFOS*/

.historia__p {
    background-color: transparent;
    color: rgb(192, 49, 49);
    margin: 40px;
}

.compras__p {
    background-color: transparent;
    color: rgb(192, 49, 49);
    margin: 40px;
    font-size: 20px;
}